.header-content {
  width: 100%;
  height: 80px;
  background: #ffb678;
  border-bottom: 3px solid rgb(209, 126, 31);
  position: relative;
  top: 0px;

  text-align: center;
  h1 {
    padding: 5px;
    display: inline;
  }
}
